#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.Board {
  display: grid;
  /* grid-template-rows: repeat(6, 1fr); */
  gap: 0.5rem;
}

.BoardRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.BoardSquare {
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border: 2px solid #3a3a3c;
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  line-height: 1;
}

.title {
  margin-bottom: 3rem;
  letter-spacing: 2rem;
  text-indent: 2rem;
}

#child {
  margin: 0 auto;
}

.underline {
  width: 20rem;
  height: 0.25rem;
  background: hsl(205, 78%, 60%);
  margin-left: auto;
  margin-right: auto;
}
