#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.Board {
  display: grid;
  justify-content: center;
  align-items: center;
  /* grid-template-rows: repeat(6, 1fr); */
  gap: 0.5rem;
}

.BoardRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.BoardRowCurrent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  animation: flip 0.5s ease forwards;
}

.BoardSquare {
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border: 2px solid #3a3a3c;
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  line-height: 1;
}

.EntrySquare {
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border: 2px solid #3a3a3c;
  box-sizing: border-box;
  width: 8rem;
  height: 8rem;
  line-height: 1;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  45% {
    transform: rotateX(90deg);
  }
  55% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX();
  }
}

.title {
  margin-bottom: 3rem;
  letter-spacing: 2rem;
  text-indent: 2rem;
  justify-content: center;
  align-items: center;
}

#child {
  margin: 0 auto;
}

.underline {
  width: 20rem;
  height: 0.25rem;
  background: hsl(205, 78%, 60%);
  margin-left: auto;
  margin-right: auto;
}

.letters {
  max-width: 500px;
  margin: 20px auto;
}

.letters > .enter {
  margin: 5px;
  width: 95px;
  height: 50px;
  /* background: white; */
  display: inline-block;
  border: 2px solid hsl(205, 78%, 60%);
  border-radius: 6px;
  line-height: 50px;
}

.letters > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  /* background: white; */
  display: inline-block;
  border: 2px solid hsl(205, 78%, 60%);
  border-radius: 6px;
  line-height: 50px;
}

.letters > div:hover {
  border-color: white;
  cursor: pointer;
}

.gameEnd {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.gameEnd div {
  max-width: 480px;
  background: white;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
}

.demo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.demo div {
  position: relative;
  width: 400px;
  height: 350px;
  background: white;
  /* padding: 40px; */
  border: 2px solid white;
  border-radius: 15px;
  margin: 10% auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo div h1 {
  color: black;
}
.demo div img {
  min-width: 100%;
  min-height: 100%;
}

.demo div button {
  /* border: 5px solid hsl(205, 78%, 60%); */
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  border-radius: 0px;
}

.toggle {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 50px;
}

.slider {
  barbackgroundcoloractive: yellow;
}
